/*PT Sans*/
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
   }
   @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
   src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/pt-sans-italic.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/pt-sans-bold-italic.woff2") format("woff2");
    font-display: swap;
  }
/*PT Sans Narrow*/
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src:  url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
} 

html {
  height: 100%;
}
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;

    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    background-color:#fff;
    }
  /*Pages*/
  .page-header {
    color:#000 ;
    background: #fff;
  }

  .navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }

  .logo {
  display: block;
  margin-left: 70px;
  }
  .navigation-list {
  margin: 0;
  padding: 0;
  width: 339px;
  }

  .navigation-list-navigation-user {
  width: 268px;
  margin-right: 70px;
  }
  .navigation-link {
    font-family: "PT Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    text-transform: capitalize;
    color:#000;    
    text-align: center;
    text-decoration: none;
    background-color: #fff;
      }

    .navigation-link1 {
      border-radius: 4px;
      display: flex;
width: 160px;
padding: 8px 50px;
justify-content: center;
align-items: center;
gap: 10px;
background: var(--buttons-basic, #756157);
color: var(--texts-background-deafault, #FFF);
text-align: center;
font-family: PT Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 20px;
text-transform: uppercase;
text-decoration: none;
    }

  .welcome-block {
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    
  }

  .main-container {
    flex-grow: 1;
  }

  .page-container {
    width: 1200px;
    margin: 0 auto;
  }
  .main-index {
    color: #000;
    background-image: url(../images/background.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    }
.description {
  display: flex;
  justify-content: space-between;
}
  .description-item-description-colored {
background: var(--background-basic-3, #82B3D3);
display: flex;
width: 400px;
height: 385px;
padding: 103px 85px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
margin-left: 5px;
color: var(--texts-background-deafault, #FFF);
text-align: center;
font-family: PT Sans;
font-style: normal;
font-weight: 700;
line-height: 28px; 
text-transform: uppercase;
  }
  .description-text h1 {
    font-family: "PT Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; 
    text-transform: uppercase;
    color: var(--texts-texts-basic, #000);
    text-align: center;
  }
  .description-text p {
    color: var(--texts-second, #333);
    text-align: center;
    font-family: PT Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
  }

  .description-item-description-colored {
    display: flex;
width: 400px;
height: 385px;
padding: 103px 85px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
background: var(--background-basic-3, #82B3D3);
margin: 0;
  }

  .description-picture {
  width: 800px;
  
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;

    

  }

  .description-item-description-colored h2 {
    color:#FFF;
    background: var(--background-basic-3, #82B3D3);
text-align: center;
    font-family: "PT Sans";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 28px;
text-transform: uppercase;
  }

  .description-item-description-colored p {
  color: #FFF;
  background: var(--background-basic-3, #82B3D3);
  text-align: center;
  font-family: "PT Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-transform: none;
  align-self: stretch;
 }
  /*List*/
  .advantages-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  padding: 0;
   } 
  /*Title*/
 .advantages-title {
  font-family: "PT Sans";
  color: var(--texts-texts-basic, #000);
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 28px;
text-transform: uppercase;
}


.advantages-item1 {
  background: var(--background-second-1, rgba(131, 179, 211, 0.12));
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-shrink: 0;
display: flex;
width: 400px;
height: 385px;
padding: 103px 85px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
margin-bottom: 20px;
}

.advantages-item2 {
  background: var(--background-second-2, rgba(62, 93, 114, 0.2));
  display: flex;
width: 400px;
height: 385px;
padding: 103px 85px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
margin-bottom: 20px;
}

.advantages-item3 {
  background: var(--background-second-1, rgba(131, 179, 211, 0.12));
  display: flex;
width: 400px;
height: 385px;
padding: 103px 85px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
}

.advantage-slogan {
  color: var(--texts-second, #333);
text-align: center;
text-transform: none;

font-family: "PT Sans";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 21px; /* 116.667% */
}

/*Services*/

.services-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  padding: 0;
}

.services-item {
  display: flex;
width: 400px;
height: 385px;
padding: 80px 85px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
background: var(--background-second-1, rgba(131, 179, 211, 0.12));
margin-bottom: 20px;
}
.services-item2 {
  display: flex;
width: 400px;
height: 385px;
padding: 80px 85px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
background: #fff;
margin-bottom: 20px;
}

.services-title {
  color: #000;
text-align: center;
font-family: "PT Sans";
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 36px;
text-transform: uppercase;
}

.services-subtitle {
  color:#333;
text-align: center;
text-transform:none;
font-family: "PT Sans";
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 26px;
width: 592px;
}
.searsh-btn {
  color: var(--texts-background-deafault, #FFF);
 text-align: center;
 font-family: PT Sans;
 font-size: 20px;
 font-style: normal;
 font-weight: 700;
 line-height: 36px; 
 text-transform: uppercase;
 }


.services-title-1 {
  color: #000;
text-align: center;
font-family: "PT Sans";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 28px;
text-transform: uppercase;
}
.services-slogan {
  color: #333;
text-align: center;
font-family: "PT Sans";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 21px;
text-transform:none;
}
.interest-item {
  display: flex;
padding: 96px 304px;
flex-direction: column;
align-items: flex-start;
gap: 10px;

width: 1200px;
height: 406px;
}

/*Subscribe*/

.subscribe {
  display: flex;
padding: 96px 258px 104px 258px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
background: #8e9ca5;
}

.subscribe-title {
  color: var(--texts-background-deafault, #FFF);
  width: 404px;
  height: 36px;
font-family: PT Sans;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 36px; 
text-transform: uppercase;
margin-bottom: 20px;
}

.subscrible-sub-title {
  color: var(--texts-background-deafault, #FFF);
  text-align: center;
  font-family: "PT Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; 
  margin-bottom: 54px;
}
.subscribe-input {
  display: flex;
  padding: 12px 20px;
  align-items: center;
  gap: 260px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 4px 0px 0px 4px;
background: var(--basic-light, #F2F2F2);
width: 452px;
height: 52px;
color: var(--basic-black, #000);
font-family: PT Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px; 

}
.subscribe-btn {
  width: 232px;
  height: 60px;
  border-radius: 0px 4px 4px 0px;
  color: var(--texts-background-deafault, #FFF);
text-align: center;
font-family: PT Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 36px; 
text-transform: uppercase;
border-radius: 0px 4px 4px 0px;
background: var(--buttons-second, #82B3D3);
}

/*Page-footer*/
.page-footer {
 
}
.social-link-btn {
  width: 54px;
height: 34px;
}
.contacts-phone {
  color: var(--texts-texts-basic, #000);
text-align: center;
font-family: "PT Sans";
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 40px; 
text-transform: uppercase;
text-decoration: none;
}

/*Catalog*/
/*Inner-header*/
.inner-header-title {
  color:#FFF;
  font-family: "PT Sans";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px; 
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  }
.breadcrumbs-item {
  color: #FFF;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat; 
}

.breadcrumbs-link {
  color: var(--texts-background-deafault, #FFF);
  font-family: "PT Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; 
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.catalog-filter-title {
  color: var(--texts-background-deafault, #FFF);
font-family: "PT Sans";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 24px; 
text-transform: capitalize;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.catalog-filter-item {
  color: var(--basic-white, #FFF);
font-family: "PT Sans";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 23px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.cost-text {
  color: var(--basic-black, #000);
font-family: "PT Sans";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 24px; 
}
.control-input-range {
  color: #000;
text-align: right;
font-family: "PT Sans";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
}
.container-button {
  color: var(--texts-background-deafault, #FFF);
text-align:right;
font-family: "PT Sans";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 20px; 
text-transform: uppercase;
}

.total-found {
  color: var(--texts-texts-basic, #000);

/* Headings/Heading 2 */
font-family: "PT Sans";
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 36px; 
text-transform: uppercase;
}
.select-control {
  color: var(--texts-second, #333);
font-family: "PT Sans";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 21px; 
}

/*Hotel-list*/
.product-card-link {
  text-decoration: none;
}

.product-card-title {
  color: var(--texts-texts-basic, #000);
font-family: "PT Sans";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 28px;
}
.product {
  color: var(--texts-second, #333);
font-family: "PT Sans";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 21px;
}
.product-card-price {
  color: var(--texts-second, #333);
text-align: right;
font-family: "PT Sans";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 21px; 
}
.product-card-button-detailed {
  color: var(--texts-background-deafault, #FFF);
text-align: center;
font-family: "PT Sans";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 20px; 
text-transform: uppercase;
border-radius: 4px;
background: var(--buttons-basic, #756157);
text-decoration: none;

}
.product-card-button-favorite {
  color: var(--texts-background-deafault, #FFF);
text-align: center;
font-family: "PT Sans";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 20px;
text-transform: uppercase;
border-radius: 4px;
background: var(--buttons-second, #82B3D3);
}
.product-description-item {
  color: var(--texts-second, #333);
text-align: center;

font-family: "PT Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; 
text-transform: uppercase;
border-radius: 4px;
background: var(--forms-elements-2, #F2F2F2);
}

/*Pagination*/
.pagination-link-pagination-current {
  color: var(--texts-texts-basic, #000);
text-align: center;
font-family: "PT Sans";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 36px; 
text-transform: uppercase;
border-radius: 4px;
background: var(--forms-elements-2, #F2F2F2);
}
.pagination-link {
  color: var(--texts-background-deafault, #FFF);
  text-align: center;
  font-family: "PT Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; 
  text-transform: uppercase;
  border-radius: 4px;
  background: var(--buttons-second, #82B3D3);
}
.pagination-link-block-white {
  color: var(--texts-texts-basic, #000);
  text-align: center;
 
  font-family: "PT Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; 
  border-radius: 4px;
}
.subcribe-inner {
  color: var(--texts-texts-basic, #000);
font-family: "PT Sans";
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 36px; 
text-transform: uppercase;
background: #FFF;
}
.subcribe-slogan {
  color: var(--texts-second, #333);
text-align: center;
font-family: "PT Sans";
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 26px;
text-transform: none; 
}
.field {
  color: var(--basic-black, #000);
font-family: "PT Sans";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
border-radius: 4px 0px 0px 4px;
background: var(--basic-light, #F2F2F2);
width: 452px;
height: 52px;
}
.button-newsletter-button {
  color: var(--texts-background-deafault, #FFF);
text-align: center;
font-family: "PT Sans";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 36px; 
text-transform: uppercase;
width: 232px;
height: 58px;
border-radius: 0px 4px 4px 0px;
background: var(--buttons-second, #82B3D3);
}
.footer-contacts-address-phone {
  color: var(--texts-texts-basic, #000);
text-align: center;
font-family: "PT Sans";
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 40px; 
text-transform: uppercase;
text-decoration: none;
}